template(name = "action")
  tr
    td
      .vote
        i.fa.fa-chevron-up
        .score #{ votes }
        i.fa.fa-chevron-down
    td
      .info-container
        a.thread-title
          h4 
            a(href="actions/#{_id}") #{ name } 
            each tags
              span.badge #{ this }
          
        h6.thread-info
          p #{ description }

        ul.buttons
          li
            a comments


template(name = "action_small")
  tr
    td
    td
      .info-container
        a.thread-title
          h4 
            | #{ name } 
            each tags
              span.badge #{ this }
          
        h6.thread-info
          p #{ description }

        ul.buttons
          li
            a comments
