template(name='list')
  .panel.panel-default
    .panel-heading
      h3.panel-title.pull-left
        if icon
          .fa(class=icon)
        a(href= '/actions/#{name}') 
          | #{ name }
      if create
        .btn.btn-default.btn-sm.pull-right
          | Add
      .clearfix
    
    .panel-body
      table
        each collection
          +action_eth
        if create
          tr
            td(colspan="2")
              hr
              form.new-action
                .form-group
                  input(type='text', name='name', placeholder='name')
                .form-group
                  textarea.form-control(rows='3', name='description', placeholder='description')
                .form-group
                  input(type='text', name='tags', placeholder='tags')
                .error
                input(type='submit', value='Create').btn.btn-success.btn-lg
                
template(name='dashboard')
  .row-fluid
    .col-sm-4
      .panel.panel-default
        .panel-body
          i.fa.fa-home
          p
            +components_balance  
          p
            | Total needed funds
            strong 
            | #{ needed_ether } 
            | ether
            
      .panel.panel-default
        .panel-body
          p
            if web3connected
              i.fa.fa-plug
              |  Connected to
              |  #{ provider }
            else
              strong
                i.fa.fa-warning
                | Not connected
              p
                | Unable to connect to geth RPC
          p
            i.fa.fa-user
            | You are not 
            a logged in
            
          p
            .btn
              | Get Tokens
              
    //-   +list(name= 'Done' icon= 'fa-check' collection=done    )
    //- .col-sm-4
    //-   +list(name= 'Now'  icon= 'fa-gear' collection=actions )
    .col-sm-4
      +list(name= 'Upcoming' icon= 'fa-clock-o' collection=soon create=true)
  
